body {
	background-color: #2E2E2E;
	font-family: agency FB;
	
}

#container {
	background: #white;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

a {
	text-decoration: none;
	color: #FFBF00;
	
}
h1{
  	font-size: 70px;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 10px;
	color: #000000;
	
	
	

} 
h2{
	font-size: 50px;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 10px;
	color:#FFBF00
	
	
}
h3{
	color: #EFF2FB;
	font-size: 50px;
	margin-top: 100px;
	text-align: center;
}

p{
	
	font-size: 30px;
	text-align: center;
	color:#EFF2FB;
	margin-top:20px;
	
	
}

.images-FrontPage{
	width: 800px;
	height: 500px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
	




.img-ITE{
	width: 700px;
	margin-bottom: 50px;
	margin-left: 10px;
	
}


.img-Ball{
	width: 320px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.img-Ball2{
	width: 320px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.img-ball3{
	width: 320px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}



.img-ball4{
	width: 100px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.img-ball5{
	width: 100px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-Me{
	width: 500px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.img-Course-Schedule{
	width: 500px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}


.img-3DPrinter{
	width: 300px;
	margin-left: 220px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}


.img-LaserCutter{
	width: 200px;
	margin-left: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-SoderingIron{
	width: 280px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.img-LongPants{
	width: 250px;
	height: 300px;
	margin-left: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}


.img-CoveredShoes{
	width: 250px;
	height: 300px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}



.img-GuyShorthair{
	width: 280px;
	height: 400px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-GirlsTiedUpHairs{
	width: 300px;
	height: 400px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-DoNotCross{
	width: 300px;
	height: 300px;
	margin-left: 84px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-DeathSign{
	width: 300px;
	height: 300px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-Notepad{
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-AutoCAD{
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-SketchUp{
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-Fusion360{
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.img-Cura{
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-QURAExample{
	width: 800px;
	height: 400px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.img-SketchupExample{
	width: 800px;
	height: 400px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-Keychain1{
	width: 320px;
	height: 400px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.img-Keychain2{
	width: 320px;
	height: 400px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.img-IL1{
	width: 300px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.img-IL2{
	width: 300px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-Bridging{
	width: 300px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.img-Bridging1{
	width: 300px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}



.img-Infill{
	width: 300px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-Overhang{
	width: 320px;
	height: 400px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-Clearance{
	width: 300px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-Clearance1{
	width: 300px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.img-LaserCuttingOutShape{
	width: 800px;
	height: 400px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-TinkerCAD1{
	width: 600px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-TinkerCAD2{
	width: 600px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
	
.img-InspirationalPhoto{
	width:400px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-AutoCADFinal{
	width: 600px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-SketchUpParts{
	width: 600px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-SketchUp3DView{
	width: 600px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.img-LaserCuttingFinal{
	width: 600px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.img-LaserCuttingWith3D{
	width: 400px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.img-Sodering1{
	width: 400px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-Sodering2{
	width: 400px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
    margin-bottom: 10px;
}

.img-Connection1{
	width: 400px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-Connection2{
	width: 400px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-Connection3{
	width: 400px;
	height: 300px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
	


	


#header {
	background: #FFBF00;
	color: #000000;
	text-align: center;
	padding: 40px;
} 

#content {
	padding: 30px;
}

#nav {
	width: 200px;
	float: left;
}

#nav ul {
	list-style: none;
	text-align:center;
	font-size: 30px;
	padding: 30px;
}

#nav ul li {
	margin-bottom: 50px;
	color:#FFBF00;
}

#nav .selected {
	font-weight: bold;
	margin-bottom: 50px;
}

#main {
	width: 700px;
	float: left ;
	margin-left :200px;
	margin-top: 50px;
}

#footer {
	clear: both;
	padding: 20px;
	background-color: #FFBF00;
	color: 2e2e2e;
	text-align: right;
}
